* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

menu {
    display: flex;
    justify-content: center;
}

menu button {
    display: block;
    width: max-content;
    height: max-content;
}